html,body {
  font-family: arial;
  font-size: 1.1em;
}

.container {
  margin: auto;
  width: 800px;
}

.heading {
  font-weight: bold;
  font-size: 2em;
  margin: 1em 0;
  position: fixed;
}

.heading2 {
  font-weight: bold;
  font-size: 1.5em;
  margin: .5em 0;
}

input,textarea {
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: black;
}

.offscreen {
  top: -1000px;
  font-size: 1px;
}

.navigation a {
  color: blue;
  text-decoration: underline;
}

#videoplayer {
  text-align: center;
  position: relative;
  top: -100px;
}

.error {
  color: red;
}

#accessibilitybanner {
  width: auto;
  height: auto;
  background-image: url(pics/accessibilityoverviewbanner.png);
  color: black;
}
.textcolor{
  color: black;
}

